{% extends "base.html" %}
{% block content %}
<h1>SVG layout generator</h1>

<form action="/generate-layout/" method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <button type="button" onclick="preview_layout()" class="btn btn-primary">Preview</button>
        <button type="submit" class="btn btn-success">Download</button>
    </div>
    <div class="form-group">
        <label for="vs">Grid</label>
        <p>You can load an existing grid, enventually modify it, or insert your own grid.</p>
        <div class="form-group">
            {% for template in templates %}
            <button class="btn btn-primary" type="button" onclick="download_to_textbox('/grid/{{template}}', $('#grid'));">{{template}}</button>
            {% endfor %}
        </div>
        <div class="row">
          <div class="col-sm-6">
          <textarea id="grid" name="grid" class="form-control" rows="15">YOUR
GRID
HERE</textarea>
          </div>
          <div class="col-sm-6">
            <div id="preview_txt"></div>
          </div>
        </div>
    </div>

    {% for param in params %}
      <div class="form-group">
          <label for="{{param.0}}">{{param.1}}</label>
          <input type="{{param.3}}" id="{{param.0}}" name="{{param.0}}" value="{{param.2}}" class="form-control"/>
      </div>
    {% endfor %}
</form>
{% endblock %}
