{% extends "base.html" %}
{% block content %}
<h1>SVG layout generator</h1>

<form action="/generate-layout/" method="POST">
    {% for param in params %}
    <div class="form-group">
        <label for="{{param.0}}">{{param.1}}</label>
        <input type="{{param.3}}" id="{{param.0}}" name="{{param.0}}" value="{{param.2}}" class="form-control"/>
    </div>
    {% endfor %}
    <div class="form-group">
        <label for="vs">Grid</label>
        <textarea id="grid" name="grid" class="form-control" rows="15"></textarea>
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-success" value="Generate"/>
    </div>
</form>
{% endblock %}
